<a href="https://colab.research.google.com/github/Dlinz1/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Dlinz1JoinRshp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape Data 

- Student can concatenate data with pandas
- Student can merge data with pandas
- Student can understand and describe tidy data formatting
- Student can use the `.melt()` and `.pivot()` functions to translate between wide and tidy data format.

Helpful Links:
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables

# [Objective](#concat) Concatenate dataframes with pandas

## Overview

"Concatenate" is a fancy word for joining two things together. For example, we can concatenate two strings together using the `+` operator.

In [1]:
'We can join/concatenate two strings together ' + 'using the "+" operator.'

'We can join/concatenate two strings together using the "+" operator.'

When we "concatenate" two dataframes we will "stick them together" either by rows or columns. Lets look at some simple examples:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00512/AsianReligionsData.zip

--2020-09-10 01:22:42--  https://archive.ics.uci.edu/ml/machine-learning-databases/00512/AsianReligionsData.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 644098 (629K) [application/x-httpd-php]
Saving to: ‘AsianReligionsData.zip’

AsianReligionsData. 100%[===================>] 629.00K   967KB/s    in 0.7s

2020-09-10 01:22:43 (967 KB/s) - ‘AsianReligionsData.zip’ saved [644098/644098]

In [4]:
!tar --gunzip --extract --verbose --file=AsianReligionsData.zip

tar: This does not look like a tar archive
tar: Skipping to next header
gzip: stdin has more than one entry--rest ignored
tar: Child returned status 2
tar: Error is not recoverable: exiting now

In [5]:
!unzip AsianReligionsData.zip

Archive:  AsianReligionsData.zip
  inflating: AllBooks_baseline_DTM_Labelled.csv
  inflating: AllBooks_baseline_DTM_Unlabelled.csv
  inflating: Complete_data .txt

In [6]:
AsRelig2 = pd.read_csv('AllBooks_baseline_DTM_Unlabelled.csv')

AsRelig2.sample(20)

     # foolishness  hath  wholesome  ...  illumines  attire  explains
178            0.0   0.0        0.0  ...        0.0     0.0       0.0
59             0.0   0.0        0.0  ...        0.0     0.0       0.0
454            0.0   0.0        0.0  ...        0.0     0.0       0.0
174            0.0   0.0        0.0  ...        0.0     0.0       0.0
479            0.0   1.0        0.0  ...        0.0     0.0       0.0
376            0.0   0.0        0.0  ...        0.0     0.0       0.0
74             0.0   0.0        0.0  ...        0.0     0.0       0.0
93             0.0   0.0        0.0  ...        0.0     0.0       0.0
280            0.0   0.0        0.0  ...        0.0     0.0       0.0
172            0.0   0.0        0.0  ...        0.0     0.0       0.0
579            0.0   0.0        0.0  ...        0.0     0.0       0.0
470            0.0   0.0        0.0  ...        0.0     0.0       0.0
95             0.0   0.0        0.0  ...        0.0     0.0       0.0
264            0.0   0.0        0.0  ...        0.0     0.0       0.0
364            0.0   0.0        0.0  ...        0.0     0.0       0.0
504            0.0   2.0        0.0  ...        0.0     0.0       0.0
295            0.0   0.0        0.0  ...        0.0     0.0       0.0
518            0.0   3.0        0.0  ...        0.0     0.0       0.0
154            0.0   0.0        0.0  ...        0.0     0.0       0.0
368            0.0   0.0        0.0  ...        0.0     0.0       0.0

[20 rows x 8266 columns]

In [7]:
AsRelig = pd.read_csv('AllBooks_baseline_DTM_Labelled.csv')

In [8]:
AsRelig.head()

     Unnamed: 0  foolishness  hath  ...  illumines  attire  explains
0  Buddhism_Ch1            0     0  ...          0       0         0
1  Buddhism_Ch2            0     0  ...          0       0         0
2  Buddhism_Ch3            0     0  ...          0       0         0
3  Buddhism_Ch4            0     0  ...          0       0         0
4  Buddhism_Ch5            0     0  ...          0       0         0

[5 rows x 8267 columns]

In [9]:
AsRelig.sample(20)

                     Unnamed: 0  foolishness  hath  ...  illumines  attire  explains
379              YogaSutra_Ch91            0     0  ...          0       0         0
176              Upanishad_Ch50            0     0  ...          0       0         0
349              YogaSutra_Ch61            0     0  ...          0       0         0
113             TaoTeChing_Ch68            0     0  ...          0       0         0
551  BookOfEccleasiasticus_Ch31            0     9  ...          0       0         0
475             YogaSutra_Ch187            0     0  ...          0       0         0
292               YogaSutra_Ch4            0     0  ...          0       0         0
587           BookOfWisdom_Ch17            0     0  ...          0       0         0
88              TaoTeChing_Ch43            0     0  ...          0       0         0
174              Upanishad_Ch48            0     0  ...          0       0         0
212              Upanishad_Ch86            0     0  ...          0       0         0
393             YogaSutra_Ch105            0     0  ...          0       0         0
336              YogaSutra_Ch48            0     0  ...          0       0         0
180              Upanishad_Ch54            0     0  ...          0       0         0
255             Upanishad_Ch129            0     0  ...          0       0         0
389             YogaSutra_Ch101            0     0  ...          0       0         0
225              Upanishad_Ch99            0     0  ...          0       0         0
161              Upanishad_Ch35            0     0  ...          0       0         0
244             Upanishad_Ch118            0     0  ...          0       0         0
476             YogaSutra_Ch188            0     0  ...          0       0         0

[20 rows x 8267 columns]

In [10]:
AsRelig.describe()

       foolishness        hath   wholesome  ...   illumines      attire    explains
count   590.000000  590.000000  590.000000  ...  590.000000  590.000000  590.000000
mean      0.003390    0.566102    0.006780  ...    0.008475    0.005085    0.003390
std       0.058173    1.777487    0.082129  ...    0.091744    0.071186    0.058173
min       0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%       0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
50%       0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
75%       0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
max       1.000000   14.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 8266 columns]

In [11]:
A1 = pd.DataFrame([['feelings', 11],['anger',4],['hath', 14],['state', 6]], columns=['Word_Name','Instances'])

A1

  Word_Name  Instances
0  feelings         11
1     anger          4
2      hath         14
3     state          6

In [12]:
A2 = pd.DataFrame([['well', 4],['open',3],['tell', 4],['neither', 6]], columns=['Word_Name','Instances'])

A2

  Word_Name  Instances
0      well          4
1      open          3
2      tell          4
3   neither          6

### Concatenate by Rows 

concatenating by rows is the default behavior of `pd.concat()` This is often the most common form of concatenation.

In [14]:
A3 = pd.concat([A1, A2], axis=0)
A3.reset_index(drop=True)

  Word_Name  Instances
0  feelings         11
1     anger          4
2      hath         14
3     state          6
4      well          4
5      open          3
6      tell          4
7   neither          6

### Concatenate by rows when not all column headers match

In [28]:
A4 = pd.concat([A1, A2], axis=1)  # side by side
A4.reset_index(drop=True)

  Word_Name  Instances Word_Name  Instances
0  feelings         11      well          4
1     anger          4      open          3
2      hath         14      tell          4
3     state          6   neither          6

In [32]:
Drip= {'Symbol': ['CHP', '&1', 'BB'], 'Name': ['Champion', 'And 1', 'Burberry']}
Common_name = pd.DataFrame(Drip)
Common_name

  Symbol      Name
0    CHP  Champion
1     &1     And 1
2     BB  Burberry

## Follow Along

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

The files that we will be working with are in a folder of CSVs, we need to load that folder of CSVs, explore the CSVs to make sure that we understand what we're working with, and where the important data lies, and then work to combine the dataframes together as necessary. 



Our goal is to reproduce this table which holds the first two orders for user id 1.

In [15]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

In [16]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-09-10 01:48:59--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.82.155
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.82.155|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  15.6MB/s    in 14s

2020-09-10 01:49:14 (14.3 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [17]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [18]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [19]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

In [20]:
display(example)

In [ ]:
OrderXs[OrderXs.eq(47209).any(1)]

         order_id  product_id  add_to_cart_order  reordered
6               1       47209                  7          0
85            112       47209                  5          0
201           878       47209                  7          1
311          1143       47209                  6          1
376          1335       47209                  5          1
...           ...         ...                ...        ...
1383926   3419542       47209                  2          1
1384064   3419829       47209                  2          1
1384087   3419909       47209                  1          1
1384265   3420286       47209                 19          0
1384446   3420812       47209                  4          1

[7293 rows x 4 columns]

### aisles

We don't need anything from aisles.csv

In [ ]:
# I understand how to read in department and aisles to prove 
# we don't need that data. This can also be done simply by reviewing the sample.

### departments

We don't need anything from departments.csv

### order_products__prior

We need:
- order id
- proudct id
- add to cart order

Everything except for 'reordered'

In [22]:
OrderXs = pd.read_csv('order_products__prior.csv')
OrderXs.sample(5)

          order_id  product_id  add_to_cart_order  reordered
22676720   2391851       40236                  9          0
22308831   2353077        4562                 17          0
7346154     775462       38464                 10          0
5026448     530610       12480                  2          0
30172288   3182626       18610                  3          0

### order_products__train

We need:
- order id
- proudct id
- add to cart order

Everything except for 'reordered'

Do you see anything similar between order_products__train and order_products__prior?

In [24]:
OrderXs2 = pd.read_csv('order_products__train.csv')
OrderXs.sample(5)

          order_id  product_id  add_to_cart_order  reordered
14495622   1529521       29447                  6          1
15882694   1675823       14778                 19          1
26042283   2746324       21543                  6          1
5302674     559695       20015                  3          1
25022341   2639089         449                  5          0

### orders

We need:
- order id
- user id
- order number
- order dow
- order hour of day

In [27]:
Orders = pd.read_csv('orders.csv')

Orders.sample(5)

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
109352    1407494     6622  ...                17                    24.0
778724    3021789    46809  ...                11                     NaN
1570130    955832    94321  ...                13                    20.0
2545022   3291764   153116  ...                21                    21.0
2070862   2614472   124489  ...                 1                    10.0

[5 rows x 7 columns]

### products

We need:
- product id
- product name

In [28]:
Products = pd.read_csv('products.csv')

Products.sample(5)

       product_id  ... department_id
43098       43099  ...             9
40795       40796  ...            21
40218       40219  ...            12
6995         6996  ...             1
8943         8944  ...            16

[5 rows x 4 columns]

## Concatenate order_products__prior and order_products__train

In [30]:
OrderXs.shape

(32434489, 4)

In [31]:
OrderXs2.shape

(1384617, 4)

In [32]:
OrderX = pd.concat([OrderXs, OrderXs2])

OrderX.sample(5)

          order_id  product_id  add_to_cart_order  reordered
31821289   3356248       27761                  3          0
20549965   2167748        3740                  8          1
29094186   3068405       42240                  8          0
16246289   1714139       47526                  5          0
11842798   1250397       24810                  3          0

## Challenge

Concatenating dataframes means to stick two dataframes together either by rows or by columns. The default behavior of `pd.concat()` is to take the rows of one dataframe and add them to the rows of another dataframe. If we pass the argument `axis=1` then we will be adding the columns of one dataframe to the columns of another dataframe.

Concatenating dataframes is most useful when the columns are the same between two dataframes or when we have matching row indices between two dataframes. 

Be ready to use this method to combine dataframes together during your assignment.

# [Objective](#merge) Merge dataframes with pandas

## Overview

In [33]:
display(example)

Before we can continue we need to understand where the data in the above table is coming from and what why specific pieces of data are held in the specific dataframes.

Each of these CSVs has a specific unit of observation (row). The columns that we see included in each CSV were selected purposefully. For example, everything each row of the `orders` dataframe is a specific and unique order -telling us who made the order, and when they made it. Every row in the `products` dataframe tells us about a specific and unique product that thestore offers. And everything in the `order_products` dataframe tells us about how products are associated with specific orders -including when the product was added to the shopping cart. 

### The Orders Dataframe

Holds information about specific orders, things like who placed the order, what 

- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

### The Products Dataframe

Holds information about individual products.

- product_id
- product_name

### The Order_Products Dataframe

Tells us how products are associated with specific orders since an order is a group of products.

- order_id
- product_id
- add_to_cart_order

As we look at the table that we're trying to recreate, we notice that we're not looking at specific orders or products, but at a specific **USER**. We're looking at the first two orders for a specific user and the products associated with those orders, so we'll need to combine dataframes to get all of this data together into a single table.

**The key to combining all of this information is that we need values that exist in both datasets that we can use to match up rows and combine dataframes.**

## Follow Along

We have two dataframes, so we're going to need to merge our data twice. As we approach merging datasets together we will take the following approach.

1) Identify which to dataframes we would like to combine.

2) Find columns that are common between both dataframes that we can use to match up information.

3) Slim down both of our dataframes so that they only relevant data before we merge.

4) Merge the dataframes.

### First Merge

1) Combine `orders` and `order_products`

2) We will use the `order_id` column to match information between the two datasets

3) Lets slim down our dataframes to only the information that we need. We do this because the merge process is complex. Why would we merge millions of rows together if we know that we're only going to need 11 rows when we're done

What specific conditions could we use to slim down the `orders` dataframe?

`user_id == 1` and `order_id <=2`

or

`order_id == 2539329` and `order_id == 2398795`

In [34]:
A1.head()

  Word_Name  Instances
0  feelings         11
1     anger          4
2      hath         14
3     state          6

In [36]:
Select = (A1['Instances'] > 6)
A1[Select]

  Word_Name  Instances
0  feelings         11
2      hath         14

In [37]:
Orders['user_id'] == 1

0           True
1           True
2           True
3           True
4           True
           ...
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Name: user_id, Length: 3421083, dtype: bool

In [ ]:
# An example of dataframe filtering

# Create a condition

# Pass that condition into the square brackets 
# that we use to access portions of a dataframe
# only the rows where that condition evaluates to *TRUE*
# will be retained in the dataframe

# Look at the subsetted dataframe

In [42]:
Select = ((Orders['user_id'] == 1) & (Orders['order_number'] <=2))

Orders_subset = Orders[Select]

In [44]:
Orders_subset.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0

[2 rows x 7 columns]

In [45]:
Orders_subset.shape

(2, 7)

Remember there are multiple ways that we could have filtered this dataframe. We also could have done it by specific `order_id`s

In [46]:
Select = (Orders['order_id'] == 2539329) | (Orders['order_id'] == 2398795)

Orders_subset = Orders[Select]

print(Orders_subset.shape)
Orders_subset.head()

(2, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0

[2 rows x 7 columns]

Now we'll filter down the order_products dataframe

What conditions could we use for subsetting that table?

We can use order_id again.

In [49]:
Select = (OrderX['order_id'] == 2539329) | (OrderX['order_id'] == 2398795)
OrderX_subset = OrderX[Select]

print(OrderX_subset.shape)
OrderX_subset.head(10)

(11, 4)

          order_id  product_id  add_to_cart_order  reordered
22742744   2398795         196                  1          1
22742745   2398795       10258                  2          0
22742746   2398795       12427                  3          1
22742747   2398795       13176                  4          0
22742748   2398795       26088                  5          1
22742749   2398795       13032                  6          0
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0

In [ ]:
display(example)

4) Now we're ready to merge these two tables together.

In [51]:
OP = pd.merge(Orders_subset, 
                               OrderX_subset, 
                               on='order_id', 
                               how='inner')
OP.head(10)

   order_id  user_id eval_set  ...  product_id  add_to_cart_order  reordered
0   2539329        1    prior  ...         196                  1          0
1   2539329        1    prior  ...       14084                  2          0
2   2539329        1    prior  ...       12427                  3          0
3   2539329        1    prior  ...       26088                  4          0
4   2539329        1    prior  ...       26405                  5          0
5   2398795        1    prior  ...         196                  1          1
6   2398795        1    prior  ...       10258                  2          0
7   2398795        1    prior  ...       12427                  3          1
8   2398795        1    prior  ...       13176                  4          0
9   2398795        1    prior  ...       26088                  5          1

[10 rows x 10 columns]

In [ ]:
# Remove columns that we don't need

In [52]:
OP = OP.drop(['eval_set','reordered','days_since_prior_order'],
             axis=1)

OP.head(10)

   order_id  user_id  ...  product_id  add_to_cart_order
0   2539329        1  ...         196                  1
1   2539329        1  ...       14084                  2
2   2539329        1  ...       12427                  3
3   2539329        1  ...       26088                  4
4   2539329        1  ...       26405                  5
5   2398795        1  ...         196                  1
6   2398795        1  ...       10258                  2
7   2398795        1  ...       12427                  3
8   2398795        1  ...       13176                  4
9   2398795        1  ...       26088                  5

[10 rows x 7 columns]

Okay, we're looking pretty good, we're missing one more column `product_name` so we're going to need to merge one more time

1) merge `orders_and_products` with `products`

2) Use `product_id` as our identifier in both tables

3) We need to slim down the `products` dataframe

In [53]:
OP['product_id']

0       196
1     14084
2     12427
3     26088
4     26405
5       196
6     10258
7     12427
8     13176
9     26088
10    13032
Name: product_id, dtype: int64

In [54]:
# Slimming because of Dup's
OP['product_id'].isin([196,26088])

0      True
1     False
2     False
3      True
4     False
5      True
6     False
7     False
8     False
9      True
10    False
Name: product_id, dtype: bool

In [56]:
Select = Products['product_id'].isin(OP['product_id'])

Products_subset = Products[Select]

Products_subset

       product_id  ... department_id
195           196  ...             7
10257       10258  ...            19
12426       12427  ...            19
13031       13032  ...            14
13175       13176  ...             4
14083       14084  ...            16
26087       26088  ...            19
26404       26405  ...            17

[8 rows x 4 columns]

In [59]:
Merge = pd.merge(OP,Products_subset, on='product_id', how='inner')

Merge

    order_id  user_id  ...  aisle_id  department_id
0    2539329        1  ...        77              7
1    2398795        1  ...        77              7
2    2539329        1  ...        91             16
3    2539329        1  ...        23             19
4    2398795        1  ...        23             19
5    2539329        1  ...        23             19
6    2398795        1  ...        23             19
7    2539329        1  ...        54             17
8    2398795        1  ...       117             19
9    2398795        1  ...        24              4
10   2398795        1  ...       121             14

[11 rows x 10 columns]

### Some nitpicky cleanup:

In [60]:
# reorder columns
Merge = Merge[['user_id','order_id','order_number','order_dow','order_hour_of_day','add_to_cart_order','product_id','product_name']]

Merge

    user_id  order_id  ...  product_id                             product_name
0         1   2539329  ...         196                                     Soda
1         1   2398795  ...         196                                     Soda
2         1   2539329  ...       14084  Organic Unsweetened Vanilla Almond Milk
3         1   2539329  ...       12427                      Original Beef Jerky
4         1   2398795  ...       12427                      Original Beef Jerky
5         1   2539329  ...       26088               Aged White Cheddar Popcorn
6         1   2398795  ...       26088               Aged White Cheddar Popcorn
7         1   2539329  ...       26405         XL Pick-A-Size Paper Towel Rolls
8         1   2398795  ...       10258                               Pistachios
9         1   2398795  ...       13176                   Bag of Organic Bananas
10        1   2398795  ...       13032                    Cinnamon Toast Crunch

[11 rows x 8 columns]

In [61]:
# Sort
Merge = Merge.sort_values(by=['order_number', 'add_to_cart_order'])
Merge

    user_id  order_id  ...  product_id                             product_name
0         1   2539329  ...         196                                     Soda
2         1   2539329  ...       14084  Organic Unsweetened Vanilla Almond Milk
3         1   2539329  ...       12427                      Original Beef Jerky
5         1   2539329  ...       26088               Aged White Cheddar Popcorn
7         1   2539329  ...       26405         XL Pick-A-Size Paper Towel Rolls
1         1   2398795  ...         196                                     Soda
8         1   2398795  ...       10258                               Pistachios
4         1   2398795  ...       12427                      Original Beef Jerky
9         1   2398795  ...       13176                   Bag of Organic Bananas
6         1   2398795  ...       26088               Aged White Cheddar Popcorn
10        1   2398795  ...       13032                    Cinnamon Toast Crunch

[11 rows x 8 columns]

In [67]:
# remove underscores from column headers
Merge.columns = [column.replace('_',' ') for column in Merge]
Merge

    user id  order id  ...  product id                             product name
0         1   2539329  ...         196                                     Soda
2         1   2539329  ...       14084  Organic Unsweetened Vanilla Almond Milk
3         1   2539329  ...       12427                      Original Beef Jerky
5         1   2539329  ...       26088               Aged White Cheddar Popcorn
7         1   2539329  ...       26405         XL Pick-A-Size Paper Towel Rolls
1         1   2398795  ...         196                                     Soda
8         1   2398795  ...       10258                               Pistachios
4         1   2398795  ...       12427                      Original Beef Jerky
9         1   2398795  ...       13176                   Bag of Organic Bananas
6         1   2398795  ...       26088               Aged White Cheddar Popcorn
10        1   2398795  ...       13032                    Cinnamon Toast Crunch

[11 rows x 8 columns]

In [ ]:
display(example)

## Challenge

Review this Chis Albon documentation about [concatenating dataframes by row and by column](https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/) and then be ready to master this function and practice using different `how` parameters on your assignment.

# [Objective](#tidy) Learn Tidy Data Format

## Overview

### Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

### Hadley Wickham's Examples

From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild. 

The table has two columns and three rows, and both rows and columns are labelled."

In [ ]:
table1

              treatmenta  treatmentb
John Smith           NaN           2
Jane Doe            16.0          11
Mary Johnson         3.0           1

"There are many ways to structure the same underlying data. 

Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [ ]:
table2 = table1.T
table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

## Follow Along

### Table 1 --> Tidy

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

In [ ]:
# Take the row index, and add it as a new column

In [ ]:
# What is the unique identifier for each row
# Where is the data at that I want to be in my single "tidy" column

In [ ]:
# rename columns

### Tidy --> Table 1

The `pivot_table` function is the inverse of `melt`.

In [ ]:
# index: unique identifier
# columns: What do you want to differentiate the columns in wide format
# values: Where are the numbers at - go in the middle of the wide dataframe

## Challenge

On your assignment, be prepared to take table2 (the transpose of table1) and reshape it to be in tidy data format using `.melt()` and then put it back in "wide format" using `.pivot_table()`

# [Objective](#melt-pivot) Transition between tidy and wide data formats with `.melt()` and `.pivot()`.

## Overview

Tidy data format can be particularly useful with certain plotting libraries like Seaborn for example. Lets practice reshaping our data and show how this can be extremely useful in preparing our data for plotting.

Remember that tidy data format means:

- Each variable is a column
- Each observation is a row

A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot." When plotting, this typically means that the values that we're most interested in and that represent the same thing will all be in a single column. You'll see that in the different examples that we show. The important data will be in a single column.

In [ ]:
# Look at some of the awesome out-of-the-box seaborn functionality:

## Follow Along

Now with Instacart Data. We're going to try and reproduce a small part of this visualization:

In [ ]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
example = Image(url=url, width=600)

display(example)

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

### Subset and Merge

One challenge of performing a merge on this data is that the `products` and `orders` datasets do not have any common columns that we can merge on. Due to this we will have to use the `order_products` dataset to provide the columns that we will use to perform the merge.

Here's the two products that we want to work with.

Lets remind ourselves of what columns we have to work with:

This might blow your mind, but we're going to subset the dataframes to select specific columns **and** merge them all in one go. Ready?

Ok, so we were a little bit lazy and probably should have subsetted our the rows of our dataframes before we merged them. We are going to filter after the fact. This is something that you can try out for practice. Can you figure out how to filter these dataframes **before** merging rather than after?

Again, there are multiple effective ways to write conditions.

### 4 ways to reshape and plot

In [ ]:
display(example)

1) The `.value_counts()` approach.

Remember, that we're trying to get the key variables (values) listed as a single column.

2) Crosstab

3) Pivot Table

4) Melt 

We've got to get it into wide format first. We'll use a crosstab which is a specific type of pivot_table.

Now, with Seaborn: